<div class="col-sm-6 col-md-4">
  <div class="well clearfix">
    <%= link_to "<img src='#{user.image_url}' alt='profile image' class='pull-left mr-3 img-thumbnail'>".html_safe, user_path(user) %>
    <dl class="user-info pull-left">
      <dt>Name</dt>
      <dd><%= user.first_name + ' ' + user.last_name %></dd>
      <dt>Posts</dt>
      <dd><%= user.posts.count %></dd>
      <dt>Likes</dt>
      <dd><%= user.total_likes %></dd>
      <dt>Relation</dt>
      <dd><mark><%= relation_with(user) %></mark></dd>
    </dl>
    <% if current_user != user && !current_user.real_friends.include?(user) && !current_user.friends.include?(user) %>
      <div class="cleared pull-right">
        <%= link_to 'Ask friendship', ask_friendship_path(user_id: current_user.id, friend_id: user.id), method: :post, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
