<h1 class="mb-3">Your Profile</h1>
<div class="row">
  <div class="col-md-2">
    <img src="<%= @user.image_url + '?s=120' %>" alt="profile image">
  </div>
  <div class="col-md-10">
    <h3>Account</h3>
    <p><strong>Email</strong>: <%= @user.email %></p>
    <div>
      <%= link_to 'Edit account (email and password)', edit_user_registration_path(@user) %>
    </div>
    <hr>
    <h3>User</h3>
    <dl class="user-info">
      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>
      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>
      <dt>Phone number</dt>
      <dd><%= @user.phone %></dd>
      <dt>Gender</dt>
      <dd><%= @user.gender %></dd>
      <dt>Birthday</dt>
      <dd><%= @user.birthday %></dd>
    </dl>
    <div>
      <%= link_to 'Edit user information', edit_user_path(@user) %>
    </div>
  </div>
</div>
