<div class="row mt-3">
  <div class="col-md-3 text-center pt-4 pb-4 full-black">
    <%= link_to "<img src='#{@post.author.image_url}' alt='profile image' class='img-thumbnail'>".html_safe, user_path(@post.author) %>
    <p class="mt-3"><%= @post.author.full_name %><br><%= @post.created_at.to_time.utc.to_s %></p>
    <div class="like-unlike">
      <% if @post.likers.include? current_user %>
        <%= link_to "<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'</span>".html_safe, like_post_path(user_id: current_user.id, post_id: @post.id), method: :post, class: 'btn btn-success', disabled: true %>
        <%= link_to "<span class='glyphicon glyphicon-thumbs-down' aria-hidden='true'</span>".html_safe, unlike_post_path(user_id: current_user.id, post_id: @post.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to "<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'</span>".html_safe, like_post_path(user_id: current_user.id, post_id: @post.id), method: :post, class: 'btn btn-success' %>
        <%= link_to "<span class='glyphicon glyphicon-thumbs-down' aria-hidden='true'</span>".html_safe, unlike_post_path(user_id: current_user.id, post_id: @post.id), method: :delete, class: 'btn btn-danger', disabled: true %>
      <% end %>
    </div>
    <div class="like-count justify-center mt-2 mb-2">
      <div>
        <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'</span>
      </div>
      <div>
        <span class="badge"><%= @post.likers.count %></span>
      </div>
    </div>
    <% if current_user == @post.author %>
      <div class="panel panel-info actions">
        <div class="panel-heading">
          Post managing
        </div>
        <div class="panel-body">
          <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
          <%= link_to 'Delete', post_path(@post), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-9 post-info pl-4 pb-4">
    <h1 class="text-center mb-3"><%= @post.title %></h1>
    <div class="post-content"><%= simple_format(@post.content) %></div>
  </div>
  <div class="col-xs-12 mt-2">
    <hr>
  </div>
  <div class="col-md-8 col-md-offset-2 mt-2">
    <%= form_for(:comment, url: comment_post_user_path(current_user)) do |f| %>
      <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
      <%= f.hidden_field :post_id, value: "#{@post.id}" %>
      <div class="form-group">
        <%= f.label :body, 'What do you think?' %>
        <%= f.text_area :body, class: 'form-control', rows: 5 %>
      </div>
      <%= f.button 'Comment', class: 'btn btn-success' %>
    <% end %>
    <%= render partial: 'comment', collection: @comments %>
  </div>
</div>
