<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if %w[sessions registrations].include?(controller.controller_name) && %w[new].include?(controller.action_name) %>
    <body class="full-black">
  <% else %>
    <body>
  <% end %>
    <% if user_signed_in? %>
      <%= render 'layouts/navigation' %>
    <% end %>
    <%= render 'layouts/alerts' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
